x-base: &base
  restart: always
  env_file: .env
  networks:
    - cloudone

name: 'cloudone'

services:
  certbot:
    build: certbot
    command: certonly -n --agree-tos --dns-ovh --dns-ovh-credentials credentials.ini -d ${DOMAIN}
    volumes:
      - ssl:/etc/letsencrypt/
    ports:
      - 80:80

  wordpress:
    <<: *base
    build: wordpress
    volumes:
      - wordpress:/var/www/html
    healthcheck:
      test: "curl -fs http://localhost"
      interval: 3s
      timeout: 5s
      retries: 5
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    <<: *base
    build: mysql
    volumes:
      - mysql:/var/lib/mysql
    healthcheck:
      test: mysqladmin ping -h localhost -u root -p$MYSQL_ROOT_PASSWORD
      interval: 5s
      timeout: 10s
      retries: 10

  phpmyadmin:
    <<: *base
    build: phpmyadmin
    environment:
      - PMA_ARBITRARY=1
    healthcheck:
      test: "curl -fs http://localhost"
      interval: 3s
      timeout: 5s
      retries: 5
    depends_on:
      mysql:
        condition: service_healthy

  nginx:
    <<: *base
    build: nginx
    volumes:
      - ssl:/etc/letsencrypt:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      wordpress:
        condition: service_healthy
      phpmyadmin:
        condition: service_healthy
      certbot:
        condition: service_completed_successfully

volumes:
  wordpress:
  mysql:
  ssl:

networks:
  cloudone:
