---
- name: Create app folder
  tags:
    - deploy
  ansible.builtin.file:
    path: '{{ app_dir }}'
    state: directory
    mode: '744'
    owner: cloudone

- name: Become
  become: true
  become_user: cloudone
  block:
    - name: Copy files
      tags:
        - deploy
      ansible.builtin.copy:
        dest: '{{ app_dir }}'
        src: '.'
        mode: '744'

    - name: Template files
      tags:
        - deploy
      ansible.builtin.template:
        src: '{{ item }}.j2'
        dest: '{{ app_dir }}/{{ item }}'
        mode: '744'
      with_items:
        - .env
        - nginx/default.conf

    - name: Down
      tags:
        - deploy
        - down
      ansible.builtin.command:
        chdir: '{{ app_dir }}'
        cmd: 'docker compose down'
      register: app_output
      changed_when: app_output.rc != 0

    - name: Build images
      tags:
        - deploy
      ansible.builtin.command:
        chdir: '{{ app_dir }}'
        cmd: 'docker compose build'
      register: app_output
      changed_when: app_output.rc != 0

    - name: Generate SSL certificate
      tags:
        - up
        - deploy
        - ssl
      ansible.builtin.command:
        chdir: '{{ app_dir }}'
        cmd: 'docker compose run certbot'
      register: app_output
      changed_when: app_output.rc != 0

    - name: Up
      tags:
        - deploy
        - up
      ansible.builtin.command:
        chdir: '{{ app_dir }}'
        cmd: 'docker compose up -d'
      register: app_output
      changed_when: app_output.rc != 0

    - name: Configuring wordpress
      ansible.builtin.command:
        chdir: '{{ app_dir }}'
        cmd: 'docker compose exec wordpress {{ app_wp_config }}'
      register: app_output
      changed_when: app_output.rc != 0
